@import 'nib'

body
  padding: 0
  margin: 0

.nice-bg
  background-color: #4fc3f7

.main-wrapper
  padding: 30px

.t-c
  text-align: center

.button.expanded
  width: 100%

body
  label
  h1
    color: white

body input[type="text"]
  border: none
